{{template "layout/app.gohtml" .}}

{{define "noscript"}}
{{template "page" .}}
{{end}}

{{define "page"}}
<main>
    <header>
        <h1>{{ t .Lang "privacyPage.title" }}</h1>
    </header>
    {{if not .Payload.Props.Enabled}}
    <p>{{ t .Lang "privacyPage.unavailable" }}</p>
    {{else}}
    <div class="prose">
        {{SafeHTML .Payload.Props.ContentHTML}}
    </div>
    {{end}}
</main>
{{end}}
